# Data Manipulation
pandas>=2.0.0
numpy>=1.23.0

# Machine Learning & Preprocessing
#scikit-learn== 0.1.5

# Deep Learning (TabNet & PyTorch)
torch>=2.0.0
pytorch-tabnet>=4.1.0

# Gradient Boosting Framework
lightgbm>=4.0.0

# Imbalanced Data Handling (SMOTE)
imbalanced-learn>=0.11.0

# Web Application (Front-end)
streamlit>=1.28.0

matplotlib

seaborn

jupyter