pandas==2.3.3
numpy==2.4.3
scikit-learn==1.8.0
joblib==1.5.3
torch==2.11.0
pytorch-tabnet==4.1.0
lightgbm==4.6.0
xgboost==3.2.0
catboost==1.2.10
imbalanced-learn==0.14.1
streamlit==1.55.0
streamlit-option-menu==0.3.13
matplotlib==3.10.8
seaborn==0.13.2
jupyter==1.1.1
